form {
    margin-top: 20px;
    margin-left: 24px;
}
  div {
    margin: 20
   }
   
   .btn-primary {
  margin: left 24px; ;
}
  
form {
  background-color: antiquewhite;
}

h1 {
  background-color: blue;
}
button {
  background-color: blanchedalmond;
}
